.container {
    box-shadow: 1px 1px 3px;
    padding: 25px;
}
.title-green{
    color: #ffc902;
    font-weight: 400;
    text-align: center;
}

@media screen  and (max-width: 524px){
    .section{
        padding: 0px;
    }
    .container {
        padding-bottom: 2rem;
    }
}