<nav class="navbar navbar-expand fixed-top navbar-transparent" color-on-scroll="500" >
    <div class="container">
      <div class="logo"> 
          <a class="navbar-brand" [routerLink]="['/index']">
              <img class="top-logo" rel="tooltip" title="" data-html="true" data-placement="bottom" src="./assets/img/ar2.png" data-original-title="Hey!  Hope you're doing fine :-)"> 
          </a>
      </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="connected == true">
            <a [routerLink]="['/account']" class="nav-link" >
                <i class="fa fa-user icons"></i> <span class="menu-nav">MON COMPTE</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="connected == false">
              <a [routerLink]="['/account']" class="nav-link" >
                <i class="fa fa-globe icons"></i> <span class="menu-nav">SE CONNECTER</span>
              </a>
          </li>
          <li class="nav-item" *ngIf="connected == false">
              <a [routerLink]="['/register']" class="nav-link" >
                <i class="fa fa-user-plus icons"></i> <span class="menu-nav">S'INSCRIRE</span>
              </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/contact']" class="nav-link" >
                <i class="fa fa-phone icons "></i> <span class="menu-nav"> CONTACT</span> 
              </a>
          </li>
          <li class="nav-item">
            <a (click)="myOrder()" class="nav-link nav-cart" >
                <i class="fa fa-shopping-cart"></i> 
                <sup class="notification">
                    <span class="badge badge-success">{{order.length}}</span>
                </sup>
            </a>
          </li>
        </ul>
    </div>
  </nav> 
