<div class="wrapper">
    <app-header-page></app-header-page>
    <div class="section login-content">
        <div class="container">
            <h2 class="title title-green title-center">SE CONNECTER</h2>
            <hr>
            <div class="row" *ngIf="errorMessage">
              <div class="col-lg-12">
                <ngb-alert type="danger"  [dismissible]="false">
                    <div class="container container-no-shadow">
                        {{ errorMessage }}
                        <button type="button" name="button" class="close" (click)="closeAlert()">
                            <i class="nc-icon nc-simple-remove"></i>
                        </button>
                    </div>
                </ngb-alert>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="label-control">EMAIL</label>
                        <input type="email" class="form-control" name="" [(ngModel)]="value.login" >
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="label-control">MOT DE PASSE</label>
                        <input type="password" class="form-control" name="" [(ngModel)]="value.password" >
                    </div>
                </div>
            </div>
            <!-- <button class="btn btn-dark" (click)="next(2)">
                <i class="fa fa-angle-left"></i>
                PREC.
            </button> -->
            <button class="btn btn-success " (click)="login()">
                <i class="fa fa-user-plus"></i>
                Se Connecter
            </button>
        </div>
    </div>

    
</div>
