.list-unstyled{
	text-align: left;
}

.title-green{
    color: hwb(47 1% 0%);
    font-weight: 400;
}

.title-center{
	text-align: center;
}

.container {
    box-shadow: 1px 1px 4px;
    padding: 25px;
}
@media screen  and (max-width: 524px){
    .section{
        padding: 0px;
    }
}